.container{
  width: 1200px;
  margin: auto;
  border: 1px solid black;
}

/*  h1태그랑 ul태그 나란히 하는법 flex */
.header{
  display: flex;
  /* 양끝으로 이동 , 주축방향 가운데정렬 */
  justify-content: space-between;
  align-items: center;
  background-color: aqua;
  color: beige;
  height: 100px;
}

h1{
  padding-left: 40px;
}
ul{
  display:flex;
  background-color: blue;
  width: 650px;
  /* 서로 간격 맞추기 */
  justify-content: space-around;
  
}
.header > ul a{
  color: white;
  text-decoration: none;
  padding: 0px 20px;
}

