table, tr, td{
  height: 60px;
}
tr, td{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  vertical-align: middle;
}
#a1{
  boder top:  3px solid blue ;
  boder bottom: 3px solid blue;
  
}
table{
  width: 600px;
  text-align: center;
  margin: 30px;
}
tr > td:nth-child(2){
  text-align: left;
}
#w1{
  text-align: center;

}
table tr:first-child{
  background-color: blueviolet;
  color: white;
  font-weight: bold;
}
.w2{
  background-color: lightgray
}
.w3:hover{
  background-color: gray;
}





/* hover : scale:1.1; 화면이1.1배커짐 */