.con{
  width: 50%;
  margin: 0 auto;
}
.con >div:first-child{
  display: flex;
  justify-content: center;
  

}
.mainImg{
  width: 60%;
  margin: auto;
}
.imgDetail{
  width: 100%;
  
}

.b3{
  width: auto;
}
.detail-div{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.detail-img{
  width: 50%;
  margin: auto;
  text-align: center;
}
.footter{
  margin: auto;
}
.cartCnt{
  width: 120px;
}

.intro{
  text-align: center;
  margin: 20px;
}