.login{
    margin: auto;
    margin-top: 40px;
    padding: 40px;
    width: 600px;
    border-radius: 10px;
    background-color: rgba(230, 230, 230, 0.1);
    box-shadow: 3px 3px 6px #838383;
}


.btn1{
    height: 60px;
}
.c1{
    vertical-align: middle;
}