.container{
  width: 100vw;
  
}

.login-div{
  width: 100%;
  color: white;
  background-color: #EE8170;
  text-align: end;
  padding-right: 50px;
  height: 50px;
}

.layout-div{
  width: 80%;
  margin: 0 auto;
}

.btn{
  background-color: #F09FA5;
  border: none;
  color: whitesmoke;
  height: 25px;
  margin-left: 10px;
  width: 80px;
  text-align: center;
  cursor: pointer;
}
.banner{
  position: relative;
}

.banner-img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
 
}
.title-div{
  position: absolute;
  top: 50%;
  left: 0px;
  font-size: 2.7rem;
  font-style: italic;
  letter-spacing: 10px;
  transform: translate(30px, -50%);
}

.header-menu{
  margin: 0 auto;
  width: 70%;
  height: 50px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.header-menu >li{
  width: 100px;
  text-align: center;
}

li>span{
  cursor: pointer;
}

/* 모달창 디자인 */
.modal-container{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0,0,  0.3);
  display: flex;
  align-items: start;
  justify-content: center;
  z-index: 99;
  animation: fadeOut 0.5s ease-in forwards;
}
.modal-container.show{
  animation-name: fadeIn;
}

.modal-container > .modal{
  width: 500px;
  background-color: white;
  margin-top: 5rem;
  padding: 16px;
  border-radius: 10px;
  animation: slideUp 0.2s ease-out forwards;
}

.modal-container.show > .modal{
  animation-name: slideDown;
}



.modal-header{
  text-align: right;
  margin-bottom: 10px;
}
.modal-header > span{
  cursor: pointer;
}

.modal-footer{
  margin-top: 10px;
  text-align: right;
}

/* 모달 애니메이션 정의 */
@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
@keyframes fadeOut{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}

@keyframes slideUp{
  from{
    transform: translateY(-50px);
  }
  to{
    transform: translateY(0px);
  }
}
@keyframes slideDown{
  from{
    transform: translateY(0px);
  }
  to{
    transform: translateY(-50px);
  }
}
.btn2{
  margin-left: 20px;
  border-style: none;
  cursor: pointer;
}

/* validation 디자인 */
.feedback{
  font-size: 0.7rem;
  margin-top: 4px;
  visibility: hidden;
}

.feedback.error{
  color: red;
  visibility: visible;
}

.feedback.good{
  color: aquamarine;
  visibility: visible;
}

.aaa{
  display: flex;
  margin-bottom: 30px;
}

.side-menu-ul{
  /* background-color: rgba(230, 230, 230,0.2); */
  width: 300px;
  box-shadow: 1px 1px 3px #cccccc;
}

.side-menu-ul > li{
  padding: 20px 16px;
  border-bottom: 2px solid #003675;
  display: flex;
  justify-content: space-between;
  
}

.side-menu-ul > li > span > i{
  color: #003675;
  font-size: 0.7rem;

}

