<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="carMapper">
	<resultMap id="car" type="com.green.CarSell.vo.CarInfoVO">
        <result column="MODEL_NUM" property="modelNum" />
        <result column="MODEL_NAME" property="modelName" />
        <result column="PRICE" property="price" />
        <result column="MANUFACTURER" property="manufacturer" />
    </resultMap>
<!--    <select id="carList" resultMap="car">-->
<!--        SELECT MODEL_NUM-->
<!--                ,MODEL_NAME-->
<!--                ,PRICE-->
<!--                ,MANUFACTURER-->
<!--        FROM CAR_INFO-->
<!--    </select>-->
    <select id="carList" resultMap="car">
        SELECT * FROM CAR_INFO
    </select>
    <insert id="insertCar">
        INSERT INTO CAR_INFO(
            MODEL_NAME
            ,PRICE
            ,MANUFACTURER
        ) VALUES(
            #{modelName}
            ,#{price}
            ,#{manufacturer}
        );

    </insert>

</mapper>































