.carMenu{
  width: 700px;
  margin: 0 auto;
  font-size: 1.2rem;
}

.insertCaR{
  margin: auto;
}
.insertCaR div:first-child{
  margin: 20px;
}
.insertCaR div:nth-child(2){
  margin: 20px;
}
.insertCaR div:nth-child(2) > input{
  width: 20%;
  margin: 15px;
  text-align: center;
}
.insertCaR div:nth-child(2) > select{
  width: 100px;
  margin: 20px;
  text-align: right;
  padding-right: 10px;
  font-size: 1.2rem;
}
.insertCaR div:last-child{
  text-align: right;
}

.tableCar{
  margin: auto;
  width: 90%;
}
.tableCar{
  text-align: center;
}
.carList{
  margin: 20px 0;
  margin-left: 20px;
}
.tableCar > thead{
  border-top: 3px solid;
  border-bottom: 3px solid;
}
.tableCar > tbody > tr:last-child{
  border-bottom: 3px solid;
}
.tableCar >tbody > tr:nth-child(odd){
  background-color: aliceblue;
}
.tableCar >tbody > tr:nth-child(even){
  background-color: rgb(223, 253, 253);
}
.tableCar > tbody > tr > td:first-child{
  font-weight: bold;
}
.btn {
  margin-right: 40px; 
  height: 30px;
  width: 100px;
  color: white;
  background-color: blue;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.btn:active{
  background-color: rgb(49, 49, 252);
  color: black;
  font-weight: bold;
}
