.salesMain{
  width: 700px;
  margin: auto;
}
.salesMain >div > div:last-child{
  text-align: center;
  margin-top: 15px;
}

.salesTable{
  width: 550px;
  margin: auto;
}

.salesTable select{
  width: 150px;
  text-align: center;
}
.by-input{
  width: 400px;
}
.table-text > td:first-child{
  text-align: right;
  padding: 5px;
}
