<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <table>
    <tr>
      <td>글번호</td>
      <td>[[${board.boardNum}]]</td>
      <td>조회수</td>
      <td>[[${board.readCnt}]]</td>
    </tr>
    <tr>
      <td>작성일</td>
      <td>[[${board.createDate}]]</td>
      <td>작성자</td>
      <td>[[${board.writer}]]</td>
    </tr>
    <tr>
      <td>제목</td>
      <td colspan="2">[[${board.title}]]</td>
    </tr>
    <tr>
      <td>내용</td>
      <td colspan="2">[[${board.content}]] </td>
    </tr>
  </table>
  <button type="button" onclick="list1()">목록가기1</button>
  <button type="button" onclick="list2()">목록가기2</button>
  <input type="button" value="수정">
  <input type="button" value="삭제" th:onclick="godelete([[${board.boardNum}]])">
  
  <script>
    function list1(){
      history.back(-1)
    }
    function list2(){
      location.href = '/boardlist';
    }
    function godelete(boardNum){
      location.href = `/delete?boardNum=${boardNum}`;
    }
    function goupdate(){
      location.href = '/boardlist';
    }
  </script>
  
</body>
</html>