.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.aaa{
  margin: auto;
  width: 500px;
}
.count{
  margin: auto;
  margin-top: 10px;
  width: 400px;
  background-color: #eeeeee;
  border-radius: 5px;
  border: 1px solid #eee1ee;
  text-align: left;
  padding: 5px 20px;
}

button{
  color: black;
  margin: 5px;
  background-color: mediumslateblue;
  width: 50px;
  
}
.btn{
  margin: auto;
  margin-top: 10px;
  width: 400px;
  background-color: #eeeeee;
  border-radius: 5px;
  border: 1px solid #eee1ee;
  text-align: left;
  padding: 5px 20px;
}

span{
  font-size: 2rem;
  text-align: left; 
  padding-left: 30px;
}
