.App{
  text-align: center;
}
span{
  cursor: pointer;
  
}

button{
  cursor: pointer;
  text-align: center;
  margin: 20px;
}

.App > div {
  text-align: center;
}
table > button{
  text-align: center;
}