<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <table>
    <tr>
      <td>학번</td>
      <td>[[${student.stuNum}]] </td>
      <td>이름</td>
      <td>[[${student.stuName}]]</td>
    </tr>
    <tr>
      <td>국어점수</td>
      <td>[[${student.korScore}]]</td>
      <td>영어점수</td>
      <td>[[${student.engScore}]]</td>
    </tr>
    <tr>
      <td>자기소개</td>
      <td colspan="3">[[${student.intro}]] </td>
    </tr>
  </table>
    <button type="button" onclick="abc()">돌아가기</button>
    <button type="button" th:onclick="godelete([[${student.stuNum}]])">삭제하기</button>
    <input type="button" value="수정하기" th:onclick="goupdate([[${student.stuNum}]])">
    <script>
      function abc(){
        location.href = "redirect:/stulist";
      }
      function godelete(stuNum){// 페이지이동할문자 ? =가져올 데이터 
        location.href =`/delete?stuNum=${stuNum}`
      }
      function goupdate(stuNum){
        location.href = `/updateForm?stuNum=${stuNum}`
      }
    </script>
</body>
</html>
