body{
  background-color: #bfbfcf;
}
.main{
  margin: auto;
  
}
.main table{
  width: 80%;
  margin: auto;
  
}
.main thead{
  background-color: rgb(51, 152, 240);
  border-bottom: 2px solid white;
  color: white;
  font-weight: bold;

}

.main tbody{
  background-color: rgb(202, 228, 250);
}
#cen{
  text-align: center;
  
  
  
}
h1:hover{
  cursor: pointer;
}
.aaaa{
  text-align: center;
}
.page-span{
  display: inline-block;
  width: 10%;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
}